
@{
    ViewBag.Title = "Signup";
}
<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>

    @using (Html.BeginForm())
    {
    <div>

        <div class="">
            <h2> Employee Registration </h2>
        </div>
       
        <div>
            <label>Employee Status: </label>
            <br>
            <label>Employee ID: </label>
            <input id="empid" name="empid" required="required" type="number" value="">
            <br>
            <label>SSS Number: </label>
            <input id="sssid" name="sssid" required="required" type="number" value="">
            <br>
            <label>Tin Number: </label>
            <input id="tinum" name="tinum" required="required" type="number" value="">
            <br>
            <label>Date Employed: </label>
            <input id="datemp" name="datemp" type="text" value="">
            <br>
            <label>Date Employed: </label>
            <ul>
                <li>
                    <label>From: </label> <input id="" name="" type="text" value="">
                    <br>
                    <label>To: </label> <input id="" name="" type="text" value="">
                </li>
            </ul>

            <label>Signature: </label>






        </div>
    </div>

        <div>
            <h2> Login Information</h2>

        </div>

        <div>
            <label>UserName: </label>
            <input id="" name="" type="text" value="">
            <br>
            <label>Email: </label>
            <input id="" name="" type="text" value="">
            <br>
            <label>Confirm Email: </label>
            <input id="" name="" type="text" value="">
            <br>
            <label>Password: </label>
            <input id="" name="" type="password" value="">
            <br>
            <label>Confirm Password: </label>
            <input id="" name="" type="password" value="">
        </div>

        <div>
            <h2> Contact Details</h2>
        </div>

        <div>
            <label>Image: </label>
            <br>
            <label>First name: </label>
            <input id="" name="" type="text" value="">
            <br>
            <label>Middle name: </label>
            <input id="" name="" type="text" value="">
            <br>
            <label>Last name: </label>
            <input id="" name="" type="text" value="">
            <br>
            <label>Date of Birth: </label>
            <input id="" name="" type="number" value="">
            <br>
        </div>

        <div>

            <h2>In case of emergency, please notify: </h2>
            <label>Name: </label>
            <input id="" name="" type="text" value="">
            <br>
            <label>Address: </label>
            <input id="" name="" type="text" value="">
            <br>
            <label>Contact No: </label>
            <input id="" name="" type="text" value="">
            <br>

            <div class="loginbtn">
                <input type="submit" value="CREATE" class="btn btn-success" />

            </div>
        </div>

        
    }
</body>
</html>   